[core]
	excludesfile = /Users/youki/.gitignore_global
	editor = /usr/bin/vim
[user]
	name = Yuki Kuroda
	email = kuroda@wakeapp.co.jp
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
