# all ignore
/*

# not ignore
!/.gitignore
!/.emacs.d
!/.zshrc
!/.tmux.conf
!/.tmux.conf.osx
!/.tmux-powerlinerc
!/.tmux-powerline
!/.oh-my-zsh

.emacs.d/history
.emacs.d/auto-save-list/*
.emacs.d/abbrev_defs
.emacs.d/ac-comphist.dat
.emacs.d/kkcrc
.emacs.d/.recentf