[submodule ".tmux-powerline"]
	path = .tmux-powerline
	url = https://github.com/erikw/tmux-powerline
[submodule ".emacs.d/replace-colorthemes"]
	path = .emacs.d/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/plugins/yasnippets-rails"]
	path = .emacs.d/plugins/yasnippets-rails
	url = https://github.com/eschulte/yasnippets-rails.git
[submodule ".emacs.d/plugins/yasnippet-snippets"]
	path = .emacs.d/plugins/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule ".enhancd"]
	path = .enhancd
	url = https://github.com/b4b4r07/enhancd
